@import "_breakpoints";

.about {
  text-align: center;
    #tags {
      display: none;
      color: white;
    }
    .headline {
      @include for-laptop {
        @apply mt-16;
      }
    }
    canvas {
      @apply relative right-4;
      width: 113%;
    }
    .row {
      @apply my-8 mx-4;
      background-color: #121212;
      border-radius: 1rem;
      box-shadow: inset 0 -0.125em 0.5em 0 rgb(0,0,0);
      @include for-tablet-landscape {
        @apply my-8 mx-8;
      }
    }
    .column {
      @apply py-8 px-4 float-left m-auto;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .column:first-child {
      width: 55%;
      flex: none;
    }
    .column:nth-child(2) {
      width: 40%;
      flex: none;
    }
    @media screen and (max-width: 942px) {
        .column {
          width: 100% !important;
          flex: 100% !important;
        }
        .column:first-child {
          margin: 1rem 1rem 0 1rem;
        }
    }
    @media screen and (max-width: 768px) {
      .column {
        width: 96% !important;
      }
      .column:first-child {
        margin: 0.5rem;
      }
      canvas {
        width: 96%;
      }
    }

}