@import "_breakpoints";

.about {
  @apply text-center;
  .varo-container {
    &-inner {
      @apply h-full px-6;
      background-color: #181818;
      @include for-laptop {
        @apply px-20;
        left: 50px;
        width: calc(100% - 50px);
      }
    }
    &__content {
      @apply items-center;
      @include for-laptop {
        @apply pr-8;
      }
    }
    &__content-inner:first-child {
      @include for-laptop {
        width: 55%;
      }
    }
    &__content-inner:nth-child(2) {
      @include for-laptop {
        @apply justify-end;
        width: 45%;
      }
    }
  }
    #tags {
      display: none;
      color: white;
    }
    .headline {
      @include for-laptop {
      }
    }
    canvas {
      @apply relative;
      width: 113%;
    }
    @media screen and (max-width: 942px) {
        .column {
          width: 100% !important;
          flex: 100% !important;
        }
        .column:first-child {
          margin: 1rem 1rem 0 1rem;
        }
    }
    @media screen and (max-width: 768px) {
      .column {
        width: 96% !important;
      }
      .column:first-child {
        margin: 0.5rem;
      }
      canvas {
        width: 96%;
      }
    }
}