.VaroBoy__About {
  .VaroBoy {
    &__container{
      &-inner {
        @apply h-full;
        padding: 0 1.5rem 6rem 1.5rem;
        
        @include for-laptop {
          padding: 0 5rem 2rem;
          left: 25px;
          width: calc(100% - 50px);
        }
      }
      &--content {
        @apply items-center;
        @include for-laptop {
          @apply pr-8;
        }
      }
      &--content-inner:first-child {
        @apply mb-6;
        @include for-laptop {
          @apply mb-0;
          width: 55%;
        }
      }
      &--content-inner:nth-child(2) {
        overflow: unset;
        @include for-laptop {
          @apply justify-end;
          width: 45%;
        }
      }
    }
  }
  .timeline-title h3{
    @apply text-black font-bold;
    text-shadow: none;
  }
  .quick-timeline .timeline-item {
    @apply text-center;
  }

  #tags {
    @apply hidden text-white;
  }
  canvas {
    @apply relative;
    width: 106%;
  }
  @media screen and (max-width: 942px) {
      .column {
        width: 100% !important;
        flex: 100% !important;
      }
      .column:first-child {
        margin: 1rem 1rem 0 1rem;
      }
  }
  @media screen and (max-width: 768px) {
    .column {
      width: 96% !important;
    }
    .column:first-child {
      margin: 0.5rem;
    }
    canvas {
      width: 96%;
    }
  }
}