.photo-img {
    border: 1px #000 solid;
    background-color: pink;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
      flex: 33%;
      padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
.fade-enter-done {
    opacity: 1;
    transition: all 2000ms;
}
.fade-enter-active {
    opacity: 0;
}

.fade-exit-active {
        opacity: 0;
        transform: translateY(60rem) rotateZ(90deg);
        transition: opacity 1200ms, transform 1200ms;
    }