.photo-img {
    width: 96.5%;
    height: 60%;
    border: 1px #000 solid;
    margin: 10px;
    background-color: pink;
}
.column {
    float: left;
    width: 33.33%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.fade-enter-done {
    opacity: 1;
    transition: all 2000ms;
}
.fade-enter-active {
    opacity: 0;
}

.fade-exit-active {
        opacity: 0;
        transform: translateY(60rem) rotateZ(90deg);
        transition: opacity 1200ms, transform 1200ms;
    }