@import 'colors';

.nav-bar {
    height: 100%;
    width: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    z-index: 999;
}

.nav-menu {
    text-align: center;
    color: $greyFont;
    a {
        display: block;
        margin: 15px 0;
    }
}
.nav-item .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.nav-item:hover .tooltip {
  visibility: visible;
}
.footer {
    color:$greyFont;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 200;
    p {
        margin-bottom: 1px;
    }
}
.App-logo {
    pointer-events: none;
    color: #bada55;
    margin-bottom: 2px;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }