@import 'colors';
@import "_breakpoints";

.about-navigation {
  @include for-laptop {
    margin-top: 7px;
  }
  p {
    @apply relative;
    top: -3px;
  }
}
.varo-navigation {
  @apply bg-black fixed w-full bottom-0 py-2.5 left-0;
  z-index: 999;
  @include for-laptop {
    @apply h-full p-0;
    width: 50px;
  }
  .mini-logo img{
    padding: 10px 0 10px 8px;
    cursor: pointer;
  }
  .mini-logo, &__footer{
    @apply hidden;
    @include for-laptop {
      @apply block;
    }
  }
  &__footer {
    color:$greyFont;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 200;
    p {
        margin-bottom: 1px;
    }
}
.varo-nav {
  @apply flex;
  &__menu {
    @apply flex items-center justify-between;
    width: 355px;
    text-align: center;
    color: $greyFont;
    @include for-laptop {
      @apply flex flex-col m-auto;
      width: 50px;
    }
    a {
        display: block;
    }
  }
  &__menu-item {
    @apply relative;
    cursor: pointer;
    @include for-laptop {
      margin-bottom: 30px;
    }
      .tooltip {
        @apply absolute hidden invisible -top-1 text-center;
        width: 80px;
        background-color: #333;
        color: $greyFont;
        padding: 5px 0;
        border-radius: 6px;
        left: 60px;
        z-index: 1;
        text-shadow: none;
        @include for-laptop {
          @apply block;
        }
      }
      img {
        @apply m-auto;
        width: 1.7rem;
      }
  }
  &__menu-item:hover .tooltip {
    visibility: visible;
  }
  &__link {
    height: 48.8px;
    @include for-laptop {
      height: 27.19px;
    }
  }
  &__text-mobile {
    @apply block m-0;
    font-size: 0.9rem;
    color: $greyFont;
    @include for-laptop {
      @apply hidden;
    }
  }
}
}

.nav-menu a{
  margin: 0 !important;
}

.nav-bar {
  @apply flex flex-row justify-center items-start w-full mt-1;
    height: 50px;
    width: 100%;
    @include for-laptop {
      @apply h-full flex-col justify-between;
      width: 50px;
      min-height: 500px;
    }
}
.App-logo {
    pointer-events: none;
    margin: 0 auto 6px auto;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }