@import "colors";

.VaroBoy__navigation {
  @apply bg-black fixed w-full bottom-0 py-2.5 left-0;
  z-index: 999;
  @include for-laptop {
    @apply h-full p-0;
    width: 50px;
  }
  &-bar {
    @apply flex flex-row justify-center items-start w-full mt-1;
    height: 50px;
    width: 100%;
    @include for-laptop {
      @apply h-full flex-col justify-between;
      width: 50px;
      min-height: 500px;
    }
  }
  .VaroBoy__mini-logo {
    padding: 10px 0 10px 8px;
    width: 45px;
    cursor: pointer;
  }
  .VaroBoy__mini-logo, &--footer{
    @apply hidden;
    @include for-laptop {
      @apply block;
    }
  }
  &-nav {
    @apply flex;
    &--menu {
      @apply flex text-center items-center justify-between;
      width: 355px;
      color: $greyFont;
      @include for-laptop {
        @apply flex flex-col m-auto;
        width: 50px;
      }
    }
    a {
        @apply no-underline;
    }
    &--menu-item {
      @apply relative cursor-pointer;
      @include for-laptop {
        margin-bottom: 30px;
      }
      img {
        @apply m-auto;
        width: 1.5rem;
        @include for-laptop {
          width: 1.7rem;
        }
      }
    }
    &--menu-item:hover .VaroBoy__tooltip {
      visibility: visible;
    }
    &--link {
      height: 48.8px;
      @include for-laptop {
        height: 27.19px;
      }
    }
    &--text-mobile {
      @apply block m-0;
      font-size: 0.8rem;
      color: $greyFont;
      @include for-laptop {
        @apply hidden;
      }
    }
  }
  &--footer {
    @apply text-center;
    margin: 0 auto;
    p {
      @apply text-sm;
      margin-bottom: 1px;
    }
  }
}
.App-logo {
    pointer-events: none;
    margin: 0 auto 6px auto;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }