.portfolio {
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
    }
    .left {
        width: 57.1%;
        z-index: 5;
        left: -6%;
        transform: skew(-16deg);
        -webkit-transform: skew(-16deg);
        -moz-transform: skew(-16deg);
        -o-transform: skew(-16deg);
        
        .centered {
            position: absolute;
            bottom: 80%;
            left: 60%;
            text-align: left;
            width: 50%;
            z-index: 6;
        }
        .background-image {
            background-image: url(/img/photography/me1.jpeg);
            transition: all 2s;
            filter: grayscale(100%);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: skew(16deg);
            -webkit-transform: skew(16deg);
            -moz-transform: skew(16deg);
            -o-transform: skew(16deg);
            position: absolute;
            width: 110%;
            height: 120%;
            left: 10%;
            top:-6%;
        }
        .active {
            filter: grayscale(0%);
            transform: scale(1.1) skew(16deg);
            -webkit-transform: scale(0.95) skew(16deg);
            -moz-transform: scale(1.1) skew(16deg);
            -o-transform: scale(1.1) skew(16deg);
        }
    }
    .right {
        width: 58%;
        right: -9%;
        background-color: rgb(119, 118, 118);
        -webkit-transform: skew(-16deg);
        -moz-transform: skew(-16deg);
        -o-transform: skew(-16deg);

        .background-image {
            background-image: url(/img/webdevelopment/mac.jpeg);
            transition: all 2s;
            filter: grayscale(100%);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: skew(16deg);
            -webkit-transform: skew(16deg);
            -moz-transform: skew(16deg);
            -o-transform: skew(16deg);
            position: absolute;
            width: 110%;
            height: 120%;
            top:-6%;
            right: 8%;
        }

        .centered {
            position: absolute;
            top: 79%;
            right: 10%;
            transform: translate(-50%, -50%);
            text-align: left;
            width: 50%;
        }
        .active {
            filter: grayscale(0%);
            transform: scale(1.1) skew(16deg);
            -webkit-transform: scale(0.95) skew(16deg);
            -moz-transform: scale(1.1) skew(16deg);
            -o-transform: scale(1.1) skew(16deg);
        }
    }
}