@import "navBar";
@import "portfolio";
@import "filter";
@import "about";
@import "home";
@import "containers";
@import "breakpoints.scss";
@import "_web-development.scss";
@import "_clients.scss";
@import "_typography.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

* {
    box-sizing: border-box;
  }
  
body {
    background-color: #181818;
    margin: 0;
    font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  @include for-desktop {
    margin-left: 50px;
  }
}