@import "breakpoints";
@import "typography";
@import "filter";

@import "navBar";
@import "tooltip";
@import "drawer";

@import "containers";

@import "home";
@import "about";
@import "portfolio";
@import "blog";
@import "web-development";
@import "clients";

* {
    box-sizing: border-box;
  }
  
body {
    background-color: #1e1e1e;
    margin: 0;
}

main {
  @include for-laptop {
    margin-left: 50px;
  }
}

#nprogress .bar {
  background: #93824e !important;
}

#nprogress .spinner-icon {
  border-top-color: #93824e !important;
  border-left-color: #93824e !important;
}